In [95]:
# linear algebra
import numpy as np
 
# data processing
import pandas as pd
 
# data visualization
import matplotlib.pyplot as plt
import seaborn as sns
 
# Algorithms
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [96]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [97]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85272 entries, 0 to 85271
Data columns (total 4 columns):
last_name     72215 non-null object
first_name    84899 non-null object
gender        85272 non-null object
race          85272 non-null object
dtypes: object(4)
memory usage: 2.6+ MB

In [98]:
common_value = 'S'
data = [train,test]

for dataset in data:
    dataset['last_name'] = dataset['last_name'].fillna(common_value)
    dataset['first_name'] = dataset['first_name'].fillna(common_value)

In [99]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85272 entries, 0 to 85271
Data columns (total 4 columns):
last_name     85272 non-null object
first_name    85272 non-null object
gender        85272 non-null object
race          85272 non-null object
dtypes: object(4)
memory usage: 2.6+ MB

In [100]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12186 entries, 0 to 12185
Data columns (total 3 columns):
id            12186 non-null int64
last_name     12186 non-null object
first_name    12186 non-null object
dtypes: int64(1), object(2)
memory usage: 285.7+ KB

In [101]:
data = [train,test]
for dataset in data:
    if dataset['first_name'].dtype == type(object):
        le = LabelEncoder()
        dataset['first_name'] = le.fit_transform(dataset['first_name'])

In [102]:
data = [train,test]
for dataset in data:
    if dataset['last_name'].dtype == type(object):
        le = LabelEncoder()
        dataset['last_name'] = le.fit_transform(dataset['last_name'])

In [103]:
data = [train,test]

for dataset in data:
    dataset['first_name'] = dataset['first_name'].astype(float)
    dataset['last_name'] = dataset['last_name'].astype(float)

In [104]:
print("Data types and their frequency\n{}".format(train.dtypes.value_counts()))
print("Data types and their frequency\n{}".format(test.dtypes.value_counts()))

Data types and their frequency
float64    2
object     2
dtype: int64
Data types and their frequency
float64    2
int64      1
dtype: int64

In [105]:
cols = ['gender','race']
for name in cols:
    print(name,':')
    print(train[name].value_counts(),'\n')

gender :
m    68296
f    16976
Name: gender, dtype: int64

race :
white       34098
black       26298
indian      21698
hispanic     3178
Name: race, dtype: int64

In [106]:
cols = ['first_name','last_name']
for name in cols:
    print(name,':')
    print(train[name].value_counts(),'\n')

first_name :
14551.0    377
21789.0    373
25084.0    313
3467.0     262
9439.0     261
14554.0    256
4718.0     230
17125.0    229
1138.0     198
17177.0    185
14577.0    180
23711.0    180
10612.0    175
22751.0    155
21309.0    153
16953.0    150
10987.0    149
14583.0    146
26622.0    137
24776.0    134
25086.0    131
26057.0    131
4340.0     130
25275.0    129
14562.0    127
9467.0     126
9446.0     123
24220.0    122
22032.0    120
25176.0    116
          ...
20991.0      1
24234.0      1
12341.0      1
4887.0       1
5486.0       1
19759.0      1
19520.0      1
805.0        1
21184.0      1
21581.0      1
12266.0      1
11473.0      1
2567.0       1
14936.0      1
11079.0      1
3268.0       1
3788.0       1
25369.0      1
18187.0      1
153.0        1
19904.0      1
6970.0       1
13283.0      1
17924.0      1
2223.0       1
22355.0      1
12902.0      1
17733.0      1
14303.0      1
11783.0      1
Name: first_name, Length: 27128, dtype: int64

last_name :
87.0       13057
11770.0     1304
3232.0      1158
11788.0     1019
12830.0      984
5874.0       763
11466.0      738
6412.0       630
18684.0      614
10261.0      465
730.0        347
9589.0       346
10034.0      317
9347.0       310
10617.0      309
12385.0      287
10759.0      284
4715.0       280
539.0        278
8764.0       273
17514.0      249
12918.0      244
18595.0      243
7324.0       233
14645.0      231
4005.0       227
1968.0       221
1397.0       214
15537.0      212
11519.0      210
           ...
18461.0        1
12148.0        1
8755.0         1
16980.0        1
12429.0        1
13700.0        1
18473.0        1
11915.0        1
14505.0        1
818.0          1
990.0          1
6609.0         1
349.0          1
4938.0         1
17742.0        1
12213.0        1
18471.0        1
2666.0         1
14929.0        1
15379.0        1
16844.0        1
2941.0         1
18469.0        1
10239.0        1
1270.0         1
11176.0        1
7484.0         1
3931.0         1
14366.0        1
15837.0        1
Name: last_name, Length: 19070, dtype: int64

In [107]:
train = train[train['last_name'] > 87.0]

In [108]:
print(train.shape)

(72074, 4)

In [109]:
train.head(9)

   last_name  first_name gender      race
0    11519.0      8392.0      m     black
1     4056.0      2485.0      m     black
2    13241.0     17456.0      m     black
3    13378.0     14479.0      m     black
4     4943.0      9808.0      m  hispanic
5     5086.0      9488.0      m     black
6    18684.0     24405.0      m    indian
7    12830.0     27008.0      m    indian
9    10034.0     17132.0      m     black

In [111]:
cols = ['first_name','last_name']
for name in cols:
    print(name,':')
    print(test[name].value_counts(),'\n')

first_name :
5803.0    59
3924.0    38
6604.0    38
953.0     25
1343.0    25
5658.0    25
6672.0    24
2526.0    24
6356.0    22
6474.0    22
3925.0    22
6660.0    21
6687.0    21
2505.0    20
6269.0    20
7006.0    20
284.0     20
1363.0    20
4496.0    19
2888.0    19
3928.0    19
6390.0    18
3935.0    18
3782.0    18
4564.0    18
6979.0    18
3946.0    17
4565.0    17
2498.0    17
6606.0    17
          ..
3239.0     1
6770.0     1
5814.0     1
3207.0     1
4980.0     1
1135.0     1
6807.0     1
1561.0     1
469.0      1
3383.0     1
1994.0     1
7049.0     1
4247.0     1
6605.0     1
1725.0     1
906.0      1
2484.0     1
843.0      1
1163.0     1
5712.0     1
4792.0     1
271.0      1
4368.0     1
4808.0     1
319.0      1
4788.0     1
477.0      1
5144.0     1
782.0      1
5405.0     1
Name: first_name, Length: 7135, dtype: int64

last_name :
17.0      1622
2246.0     411
385.0      183
2150.0     179
2237.0     147
2669.0     131
2060.0     113
1556.0     107
3589.0     106
1731.0      96
2618.0      88
1504.0      88
1516.0      82
177.0       81
3600.0      73
1386.0      73
1582.0      71
2220.0      57
3521.0      53
2979.0      52
3029.0      52
2124.0      51
1779.0      49
1703.0      49
2084.0      48
1005.0      47
2194.0      46
3033.0      45
2287.0      44
2067.0      42
          ...
445.0        1
828.0        1
2192.0       1
287.0        1
1576.0       1
3469.0       1
2271.0       1
3723.0       1
1218.0       1
2545.0       1
550.0        1
2856.0       1
3576.0       1
994.0        1
533.0        1
267.0        1
751.0        1
878.0        1
2714.0       1
1777.0       1
1526.0       1
734.0        1
2963.0       1
2117.0       1
2303.0       1
1561.0       1
2134.0       1
2037.0       1
2830.0       1
2299.0       1
Name: last_name, Length: 3748, dtype: int64

In [112]:
test.head()

   id  last_name  first_name
0   1      177.0      5873.0
1   2     3197.0      3901.0
2   3     2539.0      3941.0
3   4     1415.0      4816.0
4   5     3247.0      2593.0

In [113]:
train_Y = train.gender
train_predictor_columns = ['last_name', 'first_name']
train_X = train[train_predictor_columns]
test_X = test[train_predictor_columns]

In [114]:
logreg = LogisticRegression()
logreg.fit(train_X,train_Y)

Y_pred_gender = logreg.predict(test_X)

acc_log = round(logreg.score(train_X, train_Y) * 100, 2)
print (acc_log)

C:\Users\Shridam\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

87.92

In [115]:
train_Y1 = train.race
train_predictor_columns = ['last_name', 'first_name']
train_X = train[train_predictor_columns]
test_X = test[train_predictor_columns]

In [116]:
logreg = LogisticRegression()
logreg.fit(train_X,train_Y1)

Y_pred_race = logreg.predict(test_X)

acc_log = round(logreg.score(train_X, train_Y1) * 100, 2)
print (acc_log)

C:\Users\Shridam\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shridam\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

58.16

In [51]:
predictions1 = Y_pred_gender 
predictions2 = Y_pred_race

In [66]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions1, 'race':predictions2})
submission.head()

   id gender   race
0   1      m  black
1   2      m  white
2   3      m  white
3   4      m  white
4   5      m  white

In [54]:
filename = 'log_reg_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: log_reg_techniche.csv

In [55]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(train_X, train_Y)  
Y_pred_gender = decision_tree.predict(test_X)  
acc_decision_tree = round(decision_tree.score(train_X, train_Y) * 100, 2)
print(acc_decision_tree)

99.6

In [56]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(train_X, train_Y1)  
Y_pred_race = decision_tree.predict(test_X)  
acc_decision_tree = round(decision_tree.score(train_X, train_Y1) * 100, 2)
print(acc_decision_tree)

99.44

In [57]:
predictions3 = Y_pred_gender 
predictions4 = Y_pred_race

In [58]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions3, 'race':predictions4})
submission.head()

   id gender   race
0   1      m  black
1   2      m  black
2   3      m  white
3   4      f  white
4   5      m  black

In [59]:
filename = 'decisiontrees_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: decisiontrees_techniche.csv

In [82]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(train_X, train_Y)  
Y_pred_gender = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y) * 100, 2)
print (acc_knn)

93.41

In [81]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(train_X, train_Y1)  
Y_pred_race = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y1) * 100, 2)
print (acc_knn)

85.38

In [70]:
predictions5 = Y_pred_gender 
predictions6 = Y_pred_race

In [72]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions5, 'race':predictions6})
submission.head()

   id gender   race
0   1      m  black
1   2      m  black
2   3      m  black
3   4      m  white
4   5      m  black

In [73]:
filename = 'knn3_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: knn3_techniche.csv

In [74]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(train_X, train_Y)  
Y_pred_gender = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y) * 100, 2)
print (acc_knn)

99.48

In [75]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(train_X, train_Y1)  
Y_pred_race = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y1) * 100, 2)
print (acc_knn)

99.39

In [76]:
predictions7 = Y_pred_gender 
predictions8 = Y_pred_race

In [77]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions7, 'race':predictions8})
submission.head()

   id gender   race
0   1      m  black
1   2      m  black
2   3      m  black
3   4      m  black
4   5      m  black

In [78]:
filename = 'knn1_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: knn1_techniche.csv